.kinghenryIV{
    color:#8B0000;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    
}
.westmoreland{
    color:PaleVioletRed;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
}
p{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
}
.stage:hover:hover {
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    background-color: blanchedalmond;
    color:blue;
    font-style: italic;
    text-shadow:-1px -2px  0px pink;
    border: solid 1px black;


}
#act {
    color:green;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
}
#heading{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
